
body {
	background-image: linear-gradient(-90deg, #94F4FF, #A6FF94);
    width: 100%;
}

h1 {
    padding: 0px;
    border: 0px;
    margin: 25px;
}

.reveal {
    width: 100%;
}

.slides {
    width:100%;
}

h2,h3,h4,h5,h6,pre,ul,span {
    text-align: left;
    width: 100%;
}

img[alt=left] {
    width: 320px;
    border: 1px;
    background: none;
    float: left;
}

.reveal section img[alt=right] {
    position: absolute;
    width: 250px;
    height: auto;
    border-color:  black;
    border: 10px;
    background: none;
    bottom: -50px;
    right: -150px;
}

.reveal table {
    background-color: white;
}

.reveal p {
    text-align: left;
}

.right {
    position: relative;
    width: 100%;
    z-index: 1;
}